    body {
     background: #323333;
     font-family: 'Raleway', sans-serif;	
    }

    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
      position: relative;	
      width: 100%;
      margin: auto;
      z-index: -1;
    }

    .my-container {
     height: 100%; 	
     width: 100%;
     background: black;
     padding-right: 0px;
     padding-left: 0px;
     margin-right: auto;
     margin-left: auto;
    }
   
    h1 {
     position: relative;	
     z-index: 15;	
     color: white;
    }
    
    div.transbox {
     padding: 28px;
     margin: 0px;
     background-color: #323333;
     opacity: 0.6;
     max-height: 28px;
    }

    div.transbox h1 {
     opacity: 1.0;	
    }

    .carousel-navbar {
     background: rgba(0, 0, 0, 0.6);
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     z-index: 15;
     text-align: center;
    }

    .dropbtn {
     color: white;
     padding: 5px 16px;
     font-size: 16px;
     border: none;
     cursor: pointer;
     display: inline-block;
    }

    .dropdown:hover .dropbtn {
     color: orange;
     text-decoration: none;
    }

    .dropdown {
     position: relative;
     display: inline-block;
    }

    .dropdown-content {
     display: none;
     position: absolute;
     width: 200px;
     text-align: left;
     background: rgba(50, 50, 50, 0.9);
     z-index: 15;
    }
    .dropdown:last-child .dropdown-content {
        right: 0;
    }

    .dropdown:hover {
     background: rgba(50, 50, 50, 0.8); 
    }

    .dropdown:hover .dropdown-content {
     display: block;
    }

    .dropdown-content a {
    color: white;
    padding: 0;
    text-decoration: none;
    display: block;
    padding: 3px 5px 3px 16px;
    }
    .dropdown-content a:hover {
        background: rgba(58, 137, 225, 0.6);
    }

    footer {
   	 height: 100px;
     width: 100%;
    }

    img {
     margin: 10px;   
    }



